<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render  'shared/errors', resorce: @question %>

  <p>
    <%= form.label :body %>
    <%= form.text_field :title %>
  </p><br>

  <p><%= form.submit %></p>
<% end %>
