<h1><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @badge %>

<table class="table table-striped table-hover">
  <tr>
    <th><%= t('.table_name') %></th>
    <th><%= t('.table_picture') %></th>
    <th><%= t('.table_rule') %></th>
    <th colspan="4"><%= t('.table_action') %></th>
  </tr>

  <%= render @badges %>
</table>

<%= link_to t('.back'), admin_tests_path %> |
<%= link_to t('.new'), new_admin_badge_path %>