<h1><%= t('.header') %></h1>
<h2><%= t('.name', name: @badge.name) %></h2>

<table>
  <tr>
    <th><%= octicon(@badge.picture, height: 100) %></th>
  </tr> 

</table><br>

<%= link_to t('.back'), admin_badges_path %> |
<%= link_to t('.edit'), edit_admin_badge_path %>
