<h1><%= t('.your_badges') %></h1>

<%= render 'shared/errors', resource: @badge %>

<table class="table table-striped table-hover">
  <tr>
    <th><%= t('.table_name') %></th>
    <th><%= t('.table_picture') %></th>
  </tr>

  <%= render @badges %>
</table>

<h1><%= t('.all_badges') %></h1>

<table class="table table-striped table-hover">
  <tr>
    <th><%= t('.table_name') %> </th>
    <th><%= t('.table_picture') %></th>
  </tr>

  <%= render @all_badges %>
</table>

<%= link_to t('.back'), tests_path %> 