<div class="row  mt-3">
  <h1>Passing the <%= @test_passage.test.title %> Test</h1>

  <p>
    <b><%= @test_passage.current_question.body %></b>
  </p>
  
  <div class="progress">
    <div class= "progress-bar"></div>
  </div>

  <%= content_tag :p,
                  "#{@test_passage.question_current} / #{@test_passage.test.questions.count}",
                  class: 'progress-panel',
                  data: { current: @test_passage.question_current,
                          count: @test_passage.test.questions.count } %>
  
  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids#{b.object.id}" %>
        <%= b.label %>
      </p>
    <% end %>

    <p><%= link_to 'Gist Question', gists_path(id: @test_passage.id), method: :post %></p>
    <p><%= form.submit 'Next' %></p>
    
  <% end %>
</div>
