<div class="Ñontainer">
  <div class="row justify-content-center mt-3">
    <h2><%= t('.header') %></h2>

    <table class="table table-striped table-hover">
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.table_title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('.table_level') %></th>
        <th><%= t('.table_count_questions') %></th>
        <th><%= t('.table_action') %></th>
      </tr>

      <%= render @tests %>
    </table>
  </div>
</div>