<h2><%= t('.header') %></h2>

<table>
  <tr>
    <th><%= t('.table_title') %></th>
    <th><%= t('.table_level') %></th>
    <th><%= t('.table_count_questions') %></th>
    <th><%= t('.table_action') %></th>
  </tr>

  <%= render @tests %>
</table>
