<h2>Test - <%= @test.title %>, Level - <%= @test.level %></h2>

<h3> Questions: </h3>

<p>
  <%= render @test.questions %>
</p>

<%= link_to  'Back', tests_path %> |
<%= link_to  'Edit test', edit_test_path %> |
<%= link_to  'Create new question', new_test_question_path(@test) %> 